## Obligāti parametri

# Taka uz SHACL failu, kuru parsēs un ierakstīs ViziQuer DB
INPUT_FILE=./shacl-samples/LUBM_SHACL.ttl

# DB savienojuma virkne uz ViziQuer data shape server datubāzi
DB_URL=postgres://USER:PASSWORD@HOST:PORT/DB_NAME

# DB shēma, kur tiks ierakstīti SHACL faila dati (tikai mazie burti)
DB_SCHEMA=lubm

# Shēmas nosaukums, kas tiks rādīts ViziQuer lietotāja saskarnē
SCHEMA_DISPLAY_NAME=LUBM

## Neobligāti parametri

# SPARQL endpointa URL (var atstāt tukšu)
ENDPOINT_URL=

# Endpointa tips: generic, virtuoso, jena, blazegraph (noklusējums: generic)
ENDPOINT_TYPE=generic
